@import "tailwindcss";

html, body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
}

body {
  background-color: #ffffff;
  color: #0f172a; /* slate-900 */
}

#root {
  min-height: 100vh;
  background-color: #ffffff;
}
